.create-component{
  width: 30%;
  margin: 120px auto 0 auto;

}

.input-container{
  width: 100%;

  .form-full-width{
    max-width: 500px !important;
    min-width: 320px !important;
  }

  .mat-form-field-infix{
    width: 220px !important;
  }

}


.bac-btn{
  margin-bottom: 20px;
  a{
    // background-color: #007bff;
    color: #007bff;
    padding: 12px;
    // border-radius: 30px;
    vertical-align: top;
  }
}
