<div class="register-container">

  <div class="create-agent">
    <p>Click here to create an Agent</p>
    <button mat-raised-button name="button" (click)="createAgentData()"><i class="material-icons">add</i> Create Agent</button>

  </div>

  <div class="center-content">
    <div class="center-ele">
      <h2>Register</h2>
      <!-- Template Driven Form -->
      <form #userData="ngForm" (ngSubmit)="userData.form.valid && registerUser(userData.value)" novalidate>
        <div class="input-container">
          <mat-form-field>
            <input matInput placeholder="Full Name" name="fullName" [(ngModel)]="model.fullName" #fullName="ngModel" [ngClass]="{ 'is-invalid': userData.submitted && fullName.invalid }" required>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field>
            <input matInput placeholder="Email" name="email" required ngModel>
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field>
            <input matInput placeholder="Enter your password" name="password" type="password" ngModel required>
            <!-- <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
          </mat-form-field>
        </div>
        <div class="input-container">
          <mat-form-field>
            <input matInput placeholder="Mobile Number" name="mobile_number" required ngModel>
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary">Register</button>
      </form>
    </div>
  </div>

</div>
