.center-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-ele{
  max-width: 50%;
  margin-top: 180px;
  h2{
    font-size: 1.2rem;
  }
  a{
    font-size: 12px;
    padding-top: 10px;
    float: right;
  }
}


.mat-form-field-infix {
    width: 260px !important;
}


.create-agent{
  padding: 20px 20px 0 20px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
